/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*  CSS for APPS Page */

.App2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.App2 > div:nth-child(1) {
  width: 75%;
}

.App2 > div:nth-child(2) {
  font-family: Arial, sans-serif;
  width: 25%;
  color: #035184;
}

.cat_title {
  font-size: 17px;
  line-height: normal;
  letter-spacing: normal;
  margin: 5% 4%;
  /* margin-bottom: 0; */
  font-weight: 500;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 14px;
}

.categories > ul > li {
  text-decoration: none;
  padding: 5%;
  border-top: 1px solid grey;
  list-style-type: none;
  line-height: 18px;
}

.categories > ul > li:hover {
  background-color: #0072bc;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.apps_title {
  font-size: 20px;
  color: #0072bc;
  line-height: 18px;
  margin: 3% 2%;
}

.allApps {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.appDiv {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 7%;
  margin: 10px;
}

.appDiv > div {
  margin: 20px;
}

.apDetails > p {
  margin: 1%;
  padding: 0;
}

.apDetails > p:nth-child(1) {
  color: #0072bc;
  font-size: 14px;
  cursor: pointer;
}
.apDetails > p:nth-child(1):hover {
  color: orangered;
}

.apDetails > p:nth-child(2) {
  color: #999999;
  font-size: 12px;
  margin-bottom: 4%;
  line-height: 18px;
}

.apDetails > a {
  color: #535353;
  background-color: #ebebeb;
  border-radius: 5px;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  width: 100px;
  padding:6px 30%;
  text-transform: capitalize;
  border: none;
  box-shadow: rgb(210, 210, 210) 0px 1px 3px 0px inset;
  margin-top: 7%;
  cursor: pointer;
  box-sizing: content-box;
  text-decoration: none;
}

.appImg > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.appImg {
  height: 75px;
  width: 75px;
}

.slider {
  box-shadow: rgba(44, 116, 211, 0.35) 0px 5px 15px;
  width: 67%;
  padding: auto;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
}
