.nav2_bottom_div{
    width: 100%;
    height:800px;
    opacity: 1;
    position: absolute;
   inset: 0px;
    background:url("https://www.myfitnesspal.com/_next/image?url=%2Fpages%2Fsignup%2Fbg.png&w=1920&q=75");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F0F2F4;
}
.user_activity{
    box-sizing: border-box;
    margin:120px auto;
    
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width:500px;
    height:700px;
    border-radius: 12px;
    color: rgb(34, 38, 40);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
   background-color: white;
   box-shadow: rgb(0 0 0 / 12%) 0px 8px 40px;
}

.activity_level{
    width:90%;
    height:700px;
    border-radius: 12px;
    color: rgb(34, 38, 40);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    margin:30px auto;
}

.ul2 {
    width:90%;
    height:700px;

    list-style: none;
    display:flex;
    flex-direction:column;
    row-gap:10px;
    text-align:left;
    margin:40px auto;
}
.li2 {
    display: inline-block;
   
}
.activity_level_type{
    width:100%;
    height: 100px;
    margin: auto;
    border: 2px solid rgb(222, 225, 231);
    color: rgb(34, 38, 40);
    text-transform: none;
    border-radius: 4px;
  
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

.activity_level_type_input {
    visibility:hidden;
}
.main_para_head{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    color: #222628;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
 
}
.activity_input_label {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
   
    vertical-align:text-top;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    cursor: pointer; 
     
}
.spanpara{
    margin-top: -15px;
    font-size: 15px;
    margin-left: 15px;
    color: #6D717A;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
   
}
.activity_para{
    font-size: 15px;
    margin-top: 10px;
    color: rgb(109, 113, 122);
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}


input:checked + .activity_input_label>p>span{
    color: rgb(0, 102, 238);
    
}
.activity_level_type:hover{
outline-color: rgb(0, 102, 238) ;
}
.btn_footer_div3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:80%;
    height: 50px;
    margin:20px auto;
}
.btn_bn21{
    border: 2px solid rgb(0, 102, 238);
    text-align: center;
    width: 48%;
    height: 50px;
   padding-top: 7px;
    border-radius: 4px;
   
    letter-spacing: 0.015625rem;

    appearance: none;
    text-decoration: none;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.75;
    text-transform: uppercase;
    transition: background-color 250ms
}
.next_btn12{
    color:white;
    background-color: rgb(0, 102, 238);;
}
.back_btn12{
    color: rgb(0, 102, 238);
    background-color: white;
}
@media(max-width:800px) {
    .user_activity{
        margin-top:50px;
        width: 100%;

    }
    .btn_footer_div3{
        margin-top: 30px;
    }
    .btn_bn2{
        width: 100%;
        padding: 0px;
    }
    .next.btn12{
        width:700px;
        display: inline-block;
    }
    .back_btn12{

        visibility: hidden;
    }
  }

