.nav_bottom_container1{
    width: 100%;
    height: 800px;
    opacity: 1;
    position: absolute;
    inset: 0px;
    background:url("https://www.myfitnesspal.com/_next/image?url=%2Fpages%2Fsignup%2Fbg.png&w=1920&q=75");
   background-repeat:repeat;
    background-attachment: fixed;
    background-size:cover;
  object-fit: cover;
  background-color: #F0F2F4;
}
.input_container{
    box-sizing: border-box;
    margin:120px auto;
    
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width:600px;
    height:650px;
    border-radius: 12px;
    color: rgb(34, 38, 40);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
   background-color: white;
   box-shadow: rgb(0 0 0 / 12%) 0px 8px 40px;
}
.user_detail{
    width:90%;
    height:500px;
    border-radius: 12px;
    color: rgb(34, 38, 40);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    margin:50px auto;
}
.u_l {
    width:80%;
    height:600px;
    list-style: none;
    display:flex;
    flex-direction:column;
    row-gap:30px;
    text-align:left;
    margin-left: 50px;
}
.l_i {
    width: 100%;
    display: inline-block;
   
}
.heading{
   text-align: left;
    font-size: 20px;
    margin-bottom:15px ;
    color: #222628;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;

}
.text{
    color: #6D717A;
    font-size: 14px;
    width: 100%;
}
.Userdetail{
    margin-top: 10px;
}
.User{
   width: 200px;
   height: 60px;
   font-weight: 400;
    font-size: 14px;
    border-radius: 4px;
    border-width: 4px;
    box-sizing: border-box;
    opacity: 0.7;
    border: 2px solid rgb(222, 225, 231);
    color: rgb(34, 38, 40);
    line-height: 1.5;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
    
}

.unit{
    position: relative;
    top: -0rem;
   left: -2.5rem;
    cursor: text;

}
.unit{
    color: #6D717A;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    padding: 5px;
    padding-left: 5px;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
    background-color: white;
    
}

.User:focus{
outline-color: rgb(0, 102, 238);;
  
}

.footer_div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    height: 80px;
   
}
.btn_BN{
    border: 2px solid rgb(0, 102, 238);

    width: 200px;
    height: 60px;
    border-radius: 4px;
    padding: 8px 20px;
    letter-spacing: 0.015625rem;
  
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.75;
    text-transform: uppercase;
    transition: background-color 250ms
}
.btn_next{
    color:white;
    background-color: rgb(0, 102, 238);;
}
.btn_back{
    color: rgb(0, 102, 238);
    background-color: white;
}

@media(max-width:800px) {
    .input_container{
        margin-top:50px;
        width: 100%;

    }
    .footer_div{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .btn_BN{
        width: 100%;
        padding: 0px;
    }
    .btn_next{
        
        width:100%;
        display: inline-block;
    }
    .btn_back{
        visibility: hidden;
    }
   
  }