.nav_container{
    width:100%;
    height: 50px;
    position: fixed;
    top:0;
    z-index: 10;
    box-shadow: 0 0 4px rgb(0 0 0 / 9%);
    background-color: #FFFFFF;

}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
    height: 40px;
    margin: auto;
    align-items: center;
    vertical-align: middle;
}
.btn1{
    width: 150px;
    align-items: center;
    text-align: center;
}
.myfit{
    font-size: 26px;
    font-weight: 800;
    line-height: 1.5;
    font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
    border:none;
    color: #0066EE;
    background-color: #FFFFFF;
}
.log{
    font-size: 24px;
    font-weight: 600;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    padding: 8px 20px;
    letter-spacing: 0.015625rem;
    color: #222628;
    background-color: #FFFFFF;
}
.large_div{
    width: 100%;
    opacity: 1;
    /* height: 800px; */
    position: absolute;
    inset: 0px;
    background:url("https://www.myfitnesspal.com/_next/image?url=%2Fpages%2Fsignup%2Fbg.png&w=1920&q=75");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #F0F2F4;
  
}
.container{
    width:500px;
    /* height:600px; */
    margin:100px auto;
    border:1px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 32px;
    border-radius: 12px;
    position: relative;
    
}
.container_bottom{
    width:400px;
    height: 540px;
    margin:50px auto;
   
  
}
.paratext{
    width: 100%;
     padding-top:180px ;
      height: 200px;
    
     align-items:center;
     vertical-align: middle;
     display:flex;
     flex-direction: column;
     row-gap: 30px;
  
}
.heading{
    font-size: 26px;
    font-weight: 800;
    line-height: 1.15;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
     align-items:center
}
.btn{
    width:100%;
    height:60px;
    font-family: "Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.75;
    text-transform: uppercase;
    color: #FFF;
    background-color: #0066EE;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;

}
@media(max-width:800px){
    .container{
        width: 100%;
        margin:0px ;
    }
}